.athelas {
  font-family: athelas, georgia, serif;
}

.fw9 {
  font-weight: 900;
}

.lh-copy {
  line-height: 1.5;
}

.pa4 {
  padding: 2rem;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.f4 {
  font-size: 1.25rem;
}

.f6 {
  font-size: 0.875rem;
}

.measure {
  max-width: 30em;
}

.measure-narrow {
  max-width: 20em;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 30em) {
  .lh-title-ns {
    line-height: 1.25;
  }

  .f1-ns {
    font-size: 3rem;
  }

  .f4-ns {
    font-size: 1.25rem;
  }
}
